
{% extends "company/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm p-3 mb-3">       
          <div class="card" style="width: auto; background-color: #F0FFFF;">
            <div class="card-body text-center h1">减肥这些问题你碰到过吗？
            <div class="card-title text-center text-dark">
            <p><h2>为什么年年减肥年年肥？</h2></P>
               <p><h2>为什么一样的方法，有人有效，有人无效?</P>
                <p><h2 class="text-center">减肥一定要大量运动吗？</h2></p>
                <p><h2 class="text-center">越运动越肥？</h2></p>
                <p><h2 class="text-center">节食肥没减，身体却越来越差？</h2></p>
      <p><h2 class="text-center">减肥不饿肚子就不行吗？</h2></p>
      <p><h2 class="text-center">如何才能让减肥不反弹？</h2></p>
            <a href='https://www.wjx.top/m/53192996.aspx' class="button btn btn-primary">体质评测</a>
            </div>
          </div>
          </div>
      
    </div>
    <div class="col-sm shadow p-3 mb-3">
      <img  src="{% static 'img/美女加光环.gif' %}" class="img-fluid">
    </div>
    <div class="col-sm p-3 mb-3">
      <div class="card" style="width: auto; background-color: #F0FFFF;">
            <a href="#" class=" card-link">
            <div class="card-body">
            <h2 class="card-title text-center text-dark">形与神俱，形神合一</h2>
            <p class="card-text "><h4 class='text-dark'>人是形与神的统一体，正常人体是有差异的，人的生、老、病、死带有明显的个体特征,形成这些差异的重要原因就是个体“体质”的不同，我国传统养生中多有提及，如“子与父母，一体而分”、“王公大人，血食之君，身体柔脆，肌肉软弱”、“人禀天地之气以生，故其气体随之地不同”，“肥甘厚味助湿生痰”……,既阐述了体质与先天有关，是相对稳定的，但同时受到性别、年龄、运动、饮食、情志、地域的影响从而产生一定的变化，故在中医中有“病同而治异”的基本原则，强调“因人、因时、因地“不同而不同，对于减肥同样适用。</h4>
        <span class='h2' style="color:red;">肥胖者“体质”总体偏阴质，</span><span class='text-dark h4'>但仍有差异，也许气虚、也许阳虚，又或是湿、痰、水饮……，所以减肥也必须“明体质”，才能运用“因人、因时、因地”的原则，或药、或炙、或制定个性化的饮食运动生活方式调整方案，方能实现真正健康长效的减肥！</span></P>
            <a href='https://www.wjx.top/m/53192996.aspx' class="button btn btn-primary">体质评测</a>
            </div>
        </div>
   
     
    </div>
  </div>
</div>
{% endblock content %}